<section class="section section-about">
  <div class="container">
    <div class="about__photo"><img src="./assets/img/cv-photo.webp" alt="Denis Gusser"></div>
    <div class="about__content">
      <div class="content__name">
        <h1><span class="bold">Denis</span> <span class="medium">Gusser</span></h1>
        <h2 class="semibold">Fullstack web developer</h2>
      </div>
      <div class="content__text">
        <h2 class="section__title">About me</h2>
        <p class="section__desc">A constant learner with excellent self-organization and critical thinking skills. Able to work effectively
          both individually and in the team.</p>
      </div>
    </div>
  </div>
  </div>
</section>