<section class="education">
  <div class="content__text">
    <h2 class="section__title" id="education">EDUCATION</h2>
    <table class="table">
    <tr>
      <td class="table__title">
        <p class="semibold">2021</p>
        <p class="semibold">Open Academy of Professional Education</p>
      </td>
      <td class="table__description">
        <h2>Builder-expert</h2>
        <p>Forensic examination and real estate appraisal</p>
      </td>
    </tr>
    <tr>
      <td class="table__title">
        <p class="semibold">2018 — 2019</p>
        <p class="semibold">Plekhanov Russian University of Economics</p>
      </td>
      <td class="table__description">
        <h2>Commodity Expert</h2>
        <p>Commodity research and examination of goods (by application)</p>
      </td>
    </tr>
    <tr>
      <td class="table__title">
        <p class="semibold">2005 — 2010</p>
        <p class="semibold">Kuzbass State Technical University</p>
      </td>
      <td class="table__description">
        <h2>Engineer-economist</h2>
        <p>Economics and Company Management (in Mechanical Engineering)</p>
      </td>
    </tr>
  </table>
</div>
</section>