<aside class="side-left">
  <section class="section" id="contacts">
    <h2 class="section__title">Contacts</h2>
    <dl class="contacts__list">
      <dt class="contact__name">Phone:</dt>
      <dd class="contact__description">
        <a href="tel:+995599029632" target="_blank" class="icon icon-phone"> +995 (599) 029 632</a>
      </dd>
      <dt class="contact__name">Email:</dt>
      <dd class="contact__description">
        <a href="mailto:gusser.denis@gmail.com" target="_blank" class="icon icon-mail">
          gusser.denis@gmail.com</a>
      </dd>
      <dt class="contact__name">WhatsApp:</dt>
      <dd class="contact__description">
        <a href="https://wa.me/+79131333911" target="_blank" class="icon icon-wapp"> contact me by whatsapp</a>
      </dd>
      <dt class="contact__name">Telegram:</dt>
      <dd class="contact__description">
        <a href="tg://resolve?domain=dhusser" target="_blank" class="icon icon-telegram"> contact me by
          telegram</a>
      </dd>
    </dl>
  </section>
  <section class="section hard-skills">
    <h2 class="section__title" id="skills">Hard skills</h2>
  </section>
  <section class="section">
    <h2 class="section__title" id="skills">Code skills</h2>
    <a href="https://www.codewars.com/users/dhusser" rel="nofollow"><img
        src="https://camo.githubusercontent.com/6fcc2404a011d7ba16248946df4b23b09c0691ef8a9ea95dc06b532c3c39a31a/68747470733a2f2f7777772e636f6465776172732e636f6d2f75736572732f646875737365722f6261646765732f6c61726765"
        alt="codewars" data-canonical-src="https://www.codewars.com/users/dhusser/badges/large"
        style="max-width: 95%;"></a>
    <a href="https://github.com/dhusser/"><img
        src="https://camo.githubusercontent.com/fbb2f96f157aa0ec557914bdf7a1a92933ce8a2be20570f02ac5a73e8b165e2f/68747470733a2f2f6c656574636f64652d73746174732d7369782e76657263656c2e6170702f6170693f757365726e616d653d64687573736572267468656d653d6461726b"
        alt="dhusser's LeetCode stats"
        data-canonical-src="https://leetcode-stats-six.vercel.app/api?username=dhusser&amp;theme=dark"
        style="max-width: 95%;"></a>
  </section>
  <section class="section language-skills">
    <h2 class="section__title">Language skills</h2>
  </section>
</aside>