<section class="section">
  <div class="content__text">
    <h2 class="section__title" id="work">WORK EXPERIENCE</h2>
    <table class="table">
      <tr>
        <td class="table__title">
          <p class="semibold">2018 — Present</p>
          <p class="semibold">Center for Independent Examination and Law</p>
        </td>
        <td class="table__description">
          <h2>Forensic expert/specialist</h2>
          <p>Conducting pre-trial and forensic investigation by type:</p>
          <ul class="ul">
            <li class="main-item">computer-technical examination (including the study of software
              operation on
              Windows, Linux, Android, IOS);</li>
            <li class="main-item">merchandising examination (including the study of pre-installed
              software on
              Windows, Linux, Android, IOS);</li>
            <li class="main-item">construction and technical examination;</li>
            <li class="main-item">engineering examination.</li>
          </ul>
          <p>Created and administered the website of the center of independent examination and law: <a
              href="https://kem-expert.ru" class="link">kem-expert.ru</a></p>
        </td>
      </tr>
      <tr>
        <td class="table__title">
          <p class="semibold">2015 — 2021</p>
          <p class="semibold">Customer Service "Device"</p>
        </td>
        <td class="table__description">
          <h2>Electronic engineer</h2>
          <p>Repair of digital and household appliances: software, modular, and component ones.</p>
          <p>Created and administered the service center website: <a href="https://devicerussia.ru"
              class="link">devicerussia.ru</a></p>
        </td>
      </tr>
      <tr>
        <td class="table__title">
          <p class="semibold">2012 — 2015</p>
          <p class="semibold">Kemerovo DSK</p>
        </td>
        <td class="table__description">
          <h2>Chief civil engineer</h2>
          <p></p>
        </td>
      </tr>
    </table>
  </div>
</section>